.embeddedServiceHelpButton .helpButton .uiButton {
    font-size: 14px;
    font-weight: 500;
    /* max-width: none;
    width: 400px;
    height: 56px; */
    background-color: #677183;
    
}

.embeddedServiceSidebarForm .backgroundImg {
    background-size: initial;
    height: 160px;
}

.embeddedServiceSidebarFormField .slds-style-inputtext,
.embeddedServiceSidebarFormField .slds-style-select {
    border: 1px solid #D8E0E8;
    border-radius: 8px;
}

.embeddedServiceHelpButton .embeddedServiceIcon {
    display: block!important;
}

.embeddedServiceSidebarForm .fieldList {
    margin-top: -5px;
}

.embeddedServiceSidebarFormField .uiInput .uiLabel-left {
    color: #677183;
    margin-left: 16px;
}

.helpButtonEnabled:focus .helpButtonLabel {
    text-decoration: none;
}

.embeddedServiceSidebarMinimizedDefaultUI {
    border-radius: 24px 24px 0 0;
}

.embeddedServiceSidebarMinimizedDefaultUI.helpButton {
    font-weight: 500;
    font-size: 17.5px;
    border: none;
    /*width: 400px;
    height: 56px;
    max-width: initial;*/
    background-color: #677183;
}

.embeddedServiceSidebarMinimizedDefaultUI.minimizedContainer:focus,
.embeddedServiceSidebarMinimizedDefaultUI.minimizedContainer:hover {
    background-color: #677183;
    text-decoration: none;
}

.embeddedServiceSidebar.layout-docked .dockableContainer {
    border-radius: 24px 24px 0 0;
}



.embeddedServiceHelpButton .uiButton .helpButtonLabel .message,
.embeddedServiceSidebarMinimizedDefaultUI .minimizedText>.message {
    font-size: 12px;
    font-family: 'Red Hat Display';
    text-decoration: none;
    color: #ffffff;
}

.embeddedServiceLiveAgentStateChatPlaintextMessageDefaultUI.plaintextContent {
    font-size: 14px;
    font-weight: 500;
    color: #586476;
}

.embeddedServiceLiveAgentStateChat .messageArea:focus,
.embeddedServiceLiveAgentStateChat .messageArea:active {
    border: none;
}

.embeddedServiceLiveAgentStateChatItem .chatContent ul.rich-menu-items li {
    border-color: #0ba0c2; 
}

.embeddedServiceLiveAgentStateChatItem .chatContent ul.rich-menu-items li:first-of-type {
    border: 1px solid #0ba0c2; 
}

.embeddedServiceLiveAgentStateChatItem.chatMessage button {
    color: #0ba0c2;
}

.embeddedServiceLiveAgentStateChatPlaintextMessageDefaultUI.agent.plaintextContent {           
    background: transparent; 
    color: #586476;
}   

.embeddedServiceLiveAgentStateChatPlaintextMessageDefaultUI.chasitor.plaintextContent {          
    background: #F6F8FC;
    color: #586476;
}

.embeddedServiceLiveAgentStateChatItem.agent .agentName {          
    color: #CD4C00;
}

.embeddedServiceLiveAgentStateChatItem.agent .timeContent {          
    color: #677183;
}

.embeddedServiceLiveAgentStateChatItem .isLightningOutContext .avatar {           
    width: 36px;
    height: 36px;            
    margin: 0 14px 16px 0;
}

.chatMessage[c-chatMessage_chatMessage] {
    font-weight: 500;
}

.chasitor[c-chatMessage_chatMessage] {
    color: #586476;
    background: #F6F8FC;
}

.agent.plainText[c-chatMessage_chatMessage] {
    color: #586476;
    background-color: #fff;
}

.embeddedServiceLiveAgentStateChatItem.agent .nameAndTimeDotDivider {
    background-color: #D8E0E8;
    margin: 5px 5px 0 5px;
}

.embeddedServiceLiveAgentStateChatMenuMessage .chatContent .rich-menu-item:hover {
    color: #0ba0c2;
}

.embeddedServiceLiveAgentStateChatItem.agent .nameAndTimeContent {
    font-weight: 500;
}

.embeddedServiceLiveAgentStateChatInputFooter.chasitorInputWrapper {
    background-color: #fff;
    box-shadow: 0px -4px 8px rgba(0, 0, 0, 0.02), 0px -4px 16px rgba(11, 161, 194, 0.05);
}

.embeddedServiceLiveAgentStateChatInputFooter .chasitorText {
    border-radius: 8px;
}

.embeddedServiceLiveAgentStateChatInputFooter .chasitorControls .uiInput {
    border: 1px solid #D8E0E8;
}

.embeddedServiceLiveAgentStateChatInputFooter .footerMenuWrapper .footer-menu .slds-button {
    color: #a4adb7;
}

@media only screen and (max-height: 530px) {
    .embeddedServiceSidebarForm .fieldList {
        margin-top: 0px;
    }
}

@media only screen and (max-width: 48em) {
    .embeddedServiceHelpButton .helpButton,
    .embeddedServiceSidebarMinimizedDefaultUI.helpButton {
        bottom: 42px;
    }
}
        
@media only screen and (min-width: 48em) {
    .embeddedServiceSidebarForm.formContent {
        overflow-y: hidden;
    }

    .embeddedServiceHelpButton .helpButton {
        height: 56px;
    }

    .embeddedServiceHelpButton .helpButton .uiButton,
    .embeddedServiceHelpButton .helpButton .uiButton:hover::before,
    .embeddedServiceHelpButton .helpButton .uiButton:focus::before {
        border-radius: 24px 24px 0 0;
    }

    .embeddedServiceHelpButton .helpButton .uiButton,
    .embeddedServiceSidebarMinimizedDefaultUI.helpButton {
        max-width: none;
        width: 400px;
        height: 56px;
    }

    [embeddedService-chatHeader_chatHeader-host] {
        height: 56px;
    }

    .embeddedServiceSidebarMinimizedDefaultUI .messageContent {
        justify-content: flex-start;
    }

    .embeddedServiceSidebarMinimizedDefaultUI.sidebarHeader {
        background-color: #677183;
        width: 400px;
        max-width: initial;
        border: none;
    }

    .embeddedServiceLiveAgentStateChatMenuMessage .rich-menu {   
        width: 280px;
    }

    .embeddedServiceLiveAgentStateChatPlaintextMessageDefaultUI.plaintextContent {            
        max-width: 78%;           
    }   

    .embeddedServiceSidebarMinimizedDefaultUI.helpButton .messageContent {
        justify-content: flex-start;
    }

    .embeddedServiceHelpButton .uiButton .helpButtonLabel {
        justify-content: inherit;
    }

    .embeddedServiceSidebarMinimizedDefaultUI.minimizedContainer {
        padding: 0 12px;
    }

    .embeddedServiceSidebarMinimizedDefaultUI .content {
        padding: 0;
    }

    .embeddedServiceSidebarMinimizedDefaultUI .messageContent {
        margin: 0;
    }

    .embeddedServiceSidebarMinimizedDefaultUI .embeddedServiceIcon {
        margin-right: 10px;
    }

}



