.embeddedServiceHelpButton .helpButton {
    height: 56px;
}

.embeddedServiceHelpButton .helpButton .uiButton {
    font-size: 14px;
    font-weight: 500;
    width: 400px;
    height: 56px;
    background-color: #677183;
    max-width: none;
}

.embeddedServiceSidebarForm .backgroundImg {
    background-size: initial;
    height: 160px;
}

.embeddedServiceSidebarFormField .slds-style-inputtext,
.embeddedServiceSidebarFormField .slds-style-select {
    border: 1px solid #D8E0E8;
    border-radius: 8px;
}

.embeddedServiceSidebarForm .fieldList {
    margin-top: -5px;
}

.embeddedServiceSidebarFormField .uiInput .uiLabel-left {
    color: #677183;
    margin-left: 16px;
}

.helpButtonEnabled:focus .helpButtonLabel {
    text-decoration: none;
}

.embeddedServiceSidebarMinimizedDefaultUI {
    border-radius: 24px 24px 0 0;
}

.embeddedServiceSidebarMinimizedDefaultUI.helpButton {
    font-weight: 500;
    font-size: 17.5px;
    border: none;
    width: 400px;
    height: 56px;
    max-width: initial;
    background-color: #677183;
}

.embeddedServiceSidebarMinimizedDefaultUI.minimizedContainer:focus,
.embeddedServiceSidebarMinimizedDefaultUI.minimizedContainer:hover {
    background-color: #677183;
    text-decoration: none;
}

[embeddedService-chatHeader_chatHeader-host] {
    height: 56px;
}

.embeddedServiceSidebar.layout-docked .dockableContainer {
    border-radius: 24px 24px 0 0;
}

.embeddedServiceSidebarMinimizedDefaultUI.helpButton .messageContent {
    justify-content: flex-start;
}

.embeddedServiceHelpButton .uiButton .helpButtonLabel {
    justify-content: inherit;
}

.embeddedServiceHelpButton .uiButton .helpButtonLabel .message,
.embeddedServiceSidebarMinimizedDefaultUI .minimizedText>.message {
    font-size: 12px;
    text-decoration: none;
    color: #ffffff;
}

.embeddedServiceLiveAgentStateChatPlaintextMessageDefaultUI.plaintextContent {
    font-size: 14px;
    font-weight: 500;
    color: #586476;
}

.embeddedServiceSidebarForm.formContent {
    overflow-y: hidden;
}



.embeddedServiceLiveAgentStateChat .messageArea:focus,
.embeddedServiceLiveAgentStateChat .messageArea:active {
    border: none;
}




.embeddedServiceLiveAgentStateChatItem .chatContent ul.rich-menu-items li {
    border-color: #0ba0c2; 
}

.embeddedServiceLiveAgentStateChatItem .chatContent ul.rich-menu-items li:first-of-type {
    border: 1px solid #0ba0c2; 
}

.embeddedServiceLiveAgentStateChatItem.chatMessage button {
    color: #0ba0c2;
}

.embeddedServiceLiveAgentStateChatMenuMessage .rich-menu {   
    width: 280px;
}


.embeddedServiceLiveAgentStateChatPlaintextMessageDefaultUI.agent.plaintextContent {           
    background: transparent; 
    color: #586476;
}        
    
.embeddedServiceLiveAgentStateChatPlaintextMessageDefaultUI.plaintextContent {            
        max-width: 78%;           
}   

.embeddedServiceLiveAgentStateChatPlaintextMessageDefaultUI.chasitor.plaintextContent {          
    background: #F6F8FC;
    color: #586476;
}

.embeddedServiceLiveAgentStateChatItem.agent .agentName {          
    color: #CD4C00;
}

.embeddedServiceLiveAgentStateChatItem.agent .timeContent {          
    color: #677183;
}

.embeddedServiceLiveAgentStateChatItem .isLightningOutContext .avatar {           
    width: 36px;
    height: 36px;            
    margin: 0 14px 16px 0;
}
        
@media only screen and (min-width: 48em) {
    .embeddedServiceHelpButton .helpButton .uiButton,
    .embeddedServiceHelpButton .helpButton .uiButton:hover::before, .embeddedServiceHelpButton .helpButton .uiButton:focus::before {
        border-radius: 24px 24px 0 0;
    }
}
